* {
    padding: 0;
    margin: 0;
}


body {
    font-family: 'Courier New', Courier, monospace;
    background-image: url(../assets/crinkledpaper.jpg)
}

.body {
    background-color: rgb(255, 255, 255, .4);
    background-blend-mode: luminosity;
}

header,footer {
display: flex;

}

footer {
background-color: black;
}

h2 {
    justify-content: center;
}

.navbar, footer > ul{
    display: flex;
    flex-flow: row nowrap;
    align-content: center;
    list-style: none;
    justify-content: space-around;
    width: 100%;
    margin: auto;
}

nav {
    display: flex;
    align-content: center;
    /* height: 91px; */
    width: 100%;
    min-width: 500px;
    background-color: black;
    color: white;
}

.header li {
    border: 3px;
    /* justify-content: space-around; */
}
.logo {
    width: 91px;
}

a {
border-radius: 7px;
    text-decoration: none;
/* padding: 17px; */
}

a:hover {
    background-color: grey;
    color: white;
}

a:link,a:visited {
color: white;
}

* {
    padding: 0;
    margin: 0;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: 50%;
  }

  a {
    padding: 4px;
}

footer > ul {
    margin: 15px;
}